@charset "utf-8";


/*Gakusi BOT/*
                                                           



/*メニューバー*/
.gnavi {
    width: 1200px; /*要素の幅を設定します。*/
    margin: 0 auto; /*ほかの要素とのスペース幅を設定します。*/
}
.gnavi__lists {
    display: flex; /*要素の並び方 ( 横並び ) を設定します。*/
}
.gnavi__list {
    width: 30%; /*要素の幅を設定します。*/
    height: 60px; /*要素の高さを設定します。*/
    background-color: aquamarine; /*背景色を設定します。*/
    position: relative; /*要素の位置を設定します。*/
    transition: all .3s; /*アニメーションの速度を設定します。*/
}
.gnavi__list:hover {
    background-color: #0071BB; /*背景色を設定します。*/
}
.gnavi__list:not(:first-child)::before {
    content: ""; /*挿入するプロパティーの設定します。*/
    width: 1px; /*要素の横幅を設定します。*/
    height: 100%; /*要素の高さを設定します。*/
    background-color: rgb(100, 236, 236); /*要素の背景色を設定します。*/
    position: absolute; /*要素の位置を設定します。*/
    top: 0; /*上からの配置位置を設定します。*/
    left: 0; /*左からの配置位置を設定します。*/
    transition: all .3s; /*アニメーションの速度を設定します*/
}
.gnavi__list:hover::before {
    background-color: #0071BB; /*背景色を設定します。*/
}
.gnavi__list a {
    display: flex; /*要素の並び方 ( 横並び ) を設定します。 */
    justify-content: center; /*要素の間隔を設定します。*/
    align-items: center; /*上下のどこに配置するか設定します。*/
    width: 100%;  /*要素の横幅を設定します。*/
    height: 100%; /*要素の高さを設定します。*/
    text-decoration: none;/*テキストの装飾を設定します。*/
    color: #1b4059; /*テキストの色を設定します。*/
    font-size: 15px; /*テキストサイズを設定します。*/
    letter-spacing: 0.05em; /*テキストの水平方向の字間のスペースを設定します。*/
    font-weight: 600; /*テキストの高さを設定します。*/
    transition: all .3s; /*アニメーションの速度を設定します。*/
}
