# This is a basic workflow that is manually triggered

name: Lint

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: checkout
        uses: actions/checkout@v4.2.2

      - name: use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: install bun
        run: npm install -g bun

      - name: bun init
        run: bun i

      - name: next lint
        run: bun lint
